version: "3.9"

services:
  backend:
    build: ./backend
    container_name: bel-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always

  frontend:
    build: ./frontend
    container_name: bel-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000
    restart: always
